@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/space-mono-v12-latin-regular.woff2') format('woff2'),
        url('../fonts/space-mono-v12-latin-regular.woff') format('woff');
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: Space Mono;
}

header {
    padding-top: 182px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.data {
    padding-top: 38px;
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    padding-top: 91px;
}

li {
    list-style: none;
}

.menu_link {
    text-decoration: none;
    color: white;
}

.menu li a:hover,.menu li a:focus,.menu li a:active {
    background-color: red;
}

footer {
    padding-top: 78px;
    padding-bottom: 180px;
}

.social_network {
    display: flex;
    justify-content: center;
}

.social_network_button {
    padding-left: 30px;
}

@media screen and (max-width: 390px) {
    header {
        padding-top: 116px;
    }

    .menu {
        width: 307px;
        height: 315px;
    }

    footer {
        padding-top: 30px;
    }
}